---
---

@import "minimal-mistakes";

.page__content {
  p, ul, dl {
    font-size: 0.75rem;
    margin-top: 1em;
  }
  img {
    margin-top: 1em;
  }
}

figcaption {
  margin-bottom: 1em;
}

h3 {
  margin-top: 1em;
}

hr {
  border-top: 3px solid #80808063;
}

.toc {
  ul {
    font-size: 0.8rem;
  }
}

.highlighter-rouge div {
  margin-top: 1.5em;
  font-size: .8em;
}

.author__avatar {
  
  img {
    border-radius: 0;
    border: 0;
  }
}

.sidebar__right {
  margin-left: 2em
}

.sidebar {
  width: calc(12em - 1em);
  opacity: 1;
}

.page {
  width: calc(100% - 12em);
  display: flex;
  flex-direction: row;
}

.description_2 {
  width: 95%;
  padding: 1em;
  font-size: 0.6em;
  font-style: italic;
  background: #929cd31f;
  border-radius: 16px;
}
